.inputLabel {
  display: flex;
  font-weight: bold;
}

.textInput {
  display: flex;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  align-items: center;
  box-sizing: border-box;
  min-height: 38px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
  transition: all 100ms;
  margin-bottom: 20px;
}

.textInput:focus {
  box-shadow: 0 0 0 2px #2684ff;
  outline: none;
}

.dropdown {
  margin-bottom: 30px;
}
