.container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: hsl(0, 0%, 90%);
  padding: 16px;
  margin-bottom: 30px;
}

.item {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
